<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./public/css/main.css" type="text/css">
</head>

<body>
  <div id="wrapper">
    <header id="landing-page">
      <nav>
        <div class="nav-container">
          <a class="navbar-brand" href="index.html">Book-A-Meal</a>
          <ul class="right">
            <li>
              <a href="#home" class="active">Home</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
            <li>
              <a href="signin.html">Login</a>
            </li>
            <li>
              <a href="signup.html">Sign up</a>
            </li>
          </ul>
        </div>
      </nav>

    </header>
    <main>
      <div class="page-text">
        <h1>Welcome to Book-A-Meal</h1>
        <p> The home of delicious and nourishing meal. Order for one now</p>
        <input type="text" placeholder="search for your favourite meal" id="search">
      </div>

    </main>
    <!-- Header Ends -->

    <section class="non-fluid">

      <h1 class="headline">
        <u>Awesome meals avalaible for you </u>
      </h1>
      <div class="row">
        <div class="col-4">

          <!-- =================================Photo of meals ================================================ -->
          <div class="card">
            <img src="public/img/13.jpg" alt="FIRST" style="width:100%">
            <div class="container">
              <h4>
                <b>John Doe</b>
              </h4>
              <p>Architect & Engineer</p>
            </div>
          </div>

        </div>
        <div class="col-4">
          <div class="card">
            <img src="public/img/7.jpg" alt="FIRST" style="width:100%">
            <div class="container">
              <h4>
                <b>John Doe</b>
              </h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="public/img/11.jpg" alt="FIRST" style="width:100%">
            <div class="container">
              <h4>
                <b>John Doe</b>
              </h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="row">
        <div class="col-4">
          <div class="card">
            <img src="public/img/8.jpg" alt="FIRST" style="width:100%">
            <div class="container">
              <h4>
                <b>John Doe</b>
              </h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="public/img/10.jpg" alt="FIRST" style="width:100%">
            <div class="container">
              <h4>
                <b>John Doe</b>
              </h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="public/img/5.jpg" alt="FIRST" style="width:100%">
            <div class="container">
              <h4>
                <b>John Doe</b>
              </h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- =================================Photo of meals Ends ================================================ -->
    </section>
  </div>

  <footer>
    <hr>
    <div>
      <small id="copywrite">&copy;2018
        <span style="color:rgb(255, 0, 128)">BOOK-A-MEAL</span>, Andela Nigeria. All rights reserved.</small>
    </div>
  </footer>
</body>

</html>