<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./public/css/main.css" type="text/css">
</head>

<body>
  <div id="wrapper">
    <header>
      <nav>
        <div class="nav-container">
          <a class="navbar-brand" href="index.html">Book-A-Meal</a>
          <ul class="center">
            <li>
              <a href="menu.html">Menu</a>
            </li>
            <li>
              <a href="index.html">home</a>
            </li>
            <li>
              <a href="signup.html">Sign up</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="fluid">
      <div class="row">
        <div class="menu-sidenav col-3">
          <h2>Menu</h2>
          <a id="Monday" href="#">Monday</a>
          <a id="Tuesday" href="#">Tuesday</a>
          <a id="Wednessday" href="#">Wednessday</a>
          <a id="Tuesday" href="#">Tuesday</a>
          <a id="friday" href="#">Friday</a>

        </div>

        <div class="selected-day col-9">
          <h2>Tuesday</h2>
          <p>This sidebar is as tall as its content (the links), and is always shown.</p>
          <p>Scroll down the page to see the result.</p>
          <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
            et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
            nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
          <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
            et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
            nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
          <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
            et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
            nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
          <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
            et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
            nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        </div>
    </main>


    </div>
</body>

</html>