<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./public/css/main.css" type="text/css">
</head>

<body>
  <div id="wrapper">
    <header>
      <nav>
        <div class="nav-card-container">
          <a class="navbar-brand" href="index.html">Book-A-Meal</a>
          <ul class="center">
            <li>
              <a href="addmeal.html">Addmeal</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="fluid">
      <div class="row">
        <div class="menu-sidenav col-2">
          <h2>Menu</h2>
          <a id="Monday" href="#" class="week-days">Monday</a>
          <a id="Tuesday" href="#" class="week-days active">Tuesday</a>
          <a id="Wednessday" href="#" class="week-days">Wednessday</a>
          <a id="Thursday" href="#" class="week-days">Thursday</a>
          <a id="friday" href="#" class="week-days">Friday</a>
          <a id="Saturday" href="#" class="week-days">Saturday</a>
          <a id="Sunday" href="#" class="week-days">Sunday</a>
        </div>
        <div class="selected-day col-9">
          <h2 id="day">Tuesday</h2>


          <!-- =================================Photo of meals ================================================ -->
          <div class="col-4">
            <div class="card">
              <img src="public/img/13.jpg" alt="FIRST" style="width:100%">
              <div class="card-container">
                <h5>
                  <b class="title">Pounded yam & egunsi</b>
                </h5>
                <p class="description">Pounded Yam is the most stretchy of all the Nigerian fufu recipes and Egusi soup is popular in Western Africa.
                  The soup is thickened with ground melon, gourd, or squash seeds
                </p>
                <p class="price">
                  <span>&#8358;</span> 999.00
                </p>
              </div>
              <a class="btn view-btn" href="order_info.html">View</a>
            </div>

          </div>
          <div class="col-4">
            <div class="card">
              <img src="public/img/7.jpg" alt="FIRST" style="width:100%">
              <div class="card-container">
                <h5>
                  <b class="title">Pounded & egunsi</b>
                </h5>
                <p class="description">Pounded Yam is the most stretchy of all the Nigerian fufu recipes and Egusi soup is popular in Western Africa.
                  The soup is thickened with ground melon, gourd, or squash seeds
                </p>
                <p class="price">
                  <span>&#8358;</span> 999.00
                </p>
              </div>
              <a class="btn view-btn" href="order_info.html">View</a>
              <!---=========Second row of  cards begin   ============ -->
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <img src="public/img/11.jpg" alt="FIRST" style="width:100%">
              <div class="card-container">
                <h5>
                  <b class="title">Pounded & egunsi</b>
                </h5>
                <p class="description">Pounded Yam is the most stretchy of all the Nigerian fufu recipes and Egusi soup is popular in Western Africa.
                  The soup is thickened with ground melon, gourd, or squash seeds
                </p>
                <p class="price">
                  <span>&#8358;</span> 239.00
                </p>
              </div>
              <a class="btn view-btn" href="order_info.html">View</a>
            </div>
          </div>
          <!--  -->
          <div class="col-4">
            <div class="card">
              <img src="public/img/8.jpg" alt="FIRST" style="width:100%">
              <div class="card-container">
                <h5>
                  <b class="title">Pounded & egunsi</b>
                </h5>
                <p class="description">Pounded Yam is the most stretchy of all the Nigerian fufu recipes and Egusi soup is popular in Western Africa.
                  The soup is thickened with ground melon, gourd, or squash seeds
                </p>
                <p class="price">
                  <span>&#8358;</span> 999.00
                </p>
              </div>
              <a class="btn view-btn" href="order_info.html">View</a>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <img src="public/img/10.jpg" alt="FIRST" style="width:100%">
              <div class="card-container">
                <h5>
                  <b class="title">Pounded & egunsi</b>
                </h5>
                <p class="description">Pounded Yam is the most stretchy of all the Nigerian fufu recipes and Egusi soup is popular in Western Africa.
                  The soup is thickened with ground melon, gourd, or squash seeds
                </p>
                <p class="price">
                  <span>&#8358;</span> 999.00
                </p>
              </div>
              <a class="btn view-btn" href="order_info.html">View</a>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <img src="public/img/5.jpg" alt="FIRST" style="width:100%">
              <div class="card-container">
                <h5>
                  <b class="title">Pounded & egunsi</b>
                </h5>
                <p class="description">Pounded Yam is the most stretchy of all the Nigerian fufu recipes and Egusi soup is popular in Western Africa.
                  The soup is thickened with ground melon, gourd, or squash seeds
                </p>
                <p class="price">
                  <span>&#8358;</span> 800.00
                </p>
              </div>
              <a class="btn view-btn" href="order_info.html">View</a>
            </div>
          </div>
        </div>
        <!-- =================================Photo of meals Ends ================================================ -->
      </div>
  </div>
  </main>
  </div>

  <footer>
    <hr>
    <div>
      <small id="copywrite">&copy;2018
        <span style="color:rgb(255, 0, 128)">BOOK-A-MEAL</span>, Andela Nigeria. All rights reserved.</small>
    </div>
  </footer>
</body>

</html>