<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./public/css/main.css" type="text/css">
</head>

<body>
  <div id="wrapper">
    <header>
      <nav>
        <div class="nav-container">
          <a class="navbar-brand" href="index.html">Book-A-Meal</a>
          <ul class="right">
            <li>
              <a href="menu.html">Menu</a>
            </li>
            <li>
              <a href="modifymeal.html">Add Meal</a>
            </li>

            <li>
              <a href="index.html">Home</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="mt">
      <main class="non-fluid mt">
        <div class="row">

          <h2 class="headline">Daily summary of all orders</h2>
          <table>
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Quatity</th>
              <th>Sub total</th>
            </tr>
            <tr>
              <td>Friend rice</td>
              <td>
                <span>&#8358;</span>1000.00</td>
              <td>2</td>
              <td>
                <span>&#8358;</span>2000.00</td>
            </tr>
            <tr>
              <td>Pounded yam and egunsi</td>
              <td>
                <span>&#8358;</span>999.00</td>
              <td>1</td>
              <td>
                <span>&#8358;</span>999.00</td>
            </tr>
            <tr>
              <td>
                <h3>Total</h3>
              </td>
              <td></td>
              <td></td>
              <td>
                <span>&#8358;</span>2999.00</td>
            </tr>

          </table>
          <button class="btn update-btn">Update total</button>
        </div>
      </main>
    </div>

    <footer>
      <hr>
      <div>
        <small id="copywrite">&copy;2018
          <span style="color:rgb(255, 0, 128)">BOOK-A-MEAL</span>, Andela Nigeria. All rights reserved.</small>
      </div>
    </footer>
</body>