<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Order Info</title>
  <link rel="stylesheet" href="./public/css/main.css" type="text/css">
</head>

<body>
  <div id="wrapper">
    <header>
      <nav>
        <div class="nav-container">
          <a class="navbar-brand" href="index.html">Book-A-Meal</a>
          <ul class="right">
            <li>
              <a href="menu.html">Menu</a>
            </li>
            <li>
              <a href="index.html">Home</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="mtop">
      <main class="non-fluid ">
        <div class="row">
          <table>
            <tr>
              <th>
                <img src="public/img/13.jpg" alt="" style="width:500px;height:200px; ">
              </th>
              <th>Friend rice</th>
              <th>
                <span>&#8358;</span>1000.00</td>
              </th>

            </tr>
            <tr>
              <td>Quantity</td>
              <td>
                <input type="text" name="quatity" value="1">
              </td>
            </tr>
          </table>
      </main>
      </div>

      <footer>
        <hr>
        <div>
          <small id="copywrite">&copy;2018
            <span style="color:rgb(255, 0, 128)">BOOK-A-MEAL</span>, Andela Nigeria. All rights reserved.</small>
        </div>
      </footer>
</body>