<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./public/css/main.css" type="text/css">
</head>

<body>
  <div id="wrapper">
    <header>
      <nav>
        <div class="nav-container">
          <a class="navbar-brand" href="index.html">Book-A-Meal</a>
          <ul class="right">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="menu.html">Menu</a>
            </li>
            <li>
              <a href="addmeal.html">Add Meal</a>
            </li>
            <li>
              <a href="order_summary.html">Order summary</a>
            </li>

          </ul>
        </div>
      </nav>
    </header>
    <div class="mt">
      <main class="non-fluid mt">
        <div class="row">

          <h2 class="headline">Set menu for a specific day</h2>
          <form action="menu.html" method="POST">
            <div class="col-4">
              <select>
                <option value="select-day">select-day</option>
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wedsnessday">Wedsnessday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
                <option value="sunday">Sunday</option>
              </select>
              <input id="month" type="date">
            </div>
            <div class="col-8">
              <table>
                <tr>
                  <th>Meals</th>
                  <th>Select</th>
                </tr>
                <tr>
                  <td>
                    <img src="public/img/13.jpg" alt="" style="width:100px;height:50px; ">Friend rice
                  </td>
                  <td>
                    <input type="checkbox">
                  </td>
                </tr>
                <tr>
                  <td>

                    <img src="public/img/5.jpg" alt="" style="width:100px;height:50px; ">Salad</td>
                  <td>
                    <input type="checkbox">
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="public/img/13.jpg" alt="" style="width:100px;height:50px; ">Friend rice</td>
                  <td>
                    <input type="checkbox">
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="public/img/1.jpg" alt="" style="width:100px;height:50px; ">Ofada rice</td>
                  <td>
                    <input type="checkbox">
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="public/img/6.jpg" alt="" style="width:100px;height:50px; ">Amala</td>
                  <td>
                    <input type="checkbox">
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="public/img/8.jpg" alt="" style="width:100px;height:50px; ">Friend rice</td>
                  <td>
                    <input type="checkbox">
                  </td>
                </tr>
              </table>
            </div>
            <button class="btn update-btn" type="submit" value="Submit">Save</button>
          </form>
        </div>
      </main>
    </div>

    <footer>
      <hr>
      <div>
        <small id="copywrite">&copy;2018
          <span style="color:rgb(255, 0, 128)">BOOK-A-MEAL</span>, Andela Nigeria. All rights reserved.</small>
      </div>
    </footer>
</body>